In [1]:
import numpy as np
import pandas as pd

In [27]:
# Считываем данные из текстового файла
data = pd.read_csv('input_tupik.csv', skipinitialspace=True)
data = data.fillna(value='-')
data

   name  type  n_tokens out_edges
0    P1     0         1        T1
1    P2     0         1        T1
2    T1     1         0        P3
3    P3     0         0     T2 T9
4    T9     1         0        P5
5    P5     0         0        T3
6    T3     1         0        P3
7    T2     1         0        P4
8    P4     0         0     T4 T5
9    T4     1         0        P6
10   T5     1         0        P7
11   P6     0         0        T6
12   P7     0         0        T7
13   T6     1         0        P8
14   T7     1         0        P4
15   P8     0         0         -

In [28]:
# Делим на позиции и переходы
places = data[data['type'] == 0].reset_index()[['name', 'n_tokens', 'out_edges']]
places

  name  n_tokens out_edges
0   P1         1        T1
1   P2         1        T1
2   P3         0     T2 T9
3   P5         0        T3
4   P4         0     T4 T5
5   P6         0        T6
6   P7         0        T7
7   P8         0         -

In [29]:
transitions = data[data['type'] == 1].reset_index()[['name', 'out_edges']]
transitions

  name out_edges
0   T1        P3
1   T9        P5
2   T3        P3
3   T2        P4
4   T4        P6
5   T5        P7
6   T6        P8
7   T7        P4

In [30]:
# Поскольку граф двудольный, будем хранить два листа смежности

adj_list_t = {} # Для каждого перехода выходы из него
adj_list_p = {} # Для каждого перехода входы в него
state0 = np.zeros(places.shape[0]) # Начальная разметка

# Проходимся по позициям, смотрим и записываем выходы
for idx_curr, [name, out_edges_str] in transitions.iterrows():
    adj_list_t[idx_curr] = []
    adj_list_p[idx_curr] = []
    out_edges = out_edges_str.split()
    for name_i in out_edges:
        temp_df = places[places['name'] == name_i]
        if temp_df.size != 0:
            idx_to = temp_df.index[0]
            adj_list_t[idx_curr].append(idx_to)
    adj_list_t[idx_curr] = np.array(adj_list_t[idx_curr])     


# Проходимся по позициям, смотрим выходы,
# Вписываем их как входы для соотв. перехода
for idx_curr, [name, n_tokens, out_edges_str] in places.iterrows():
    out_edges = out_edges_str.split()
    for name_i in out_edges:
        temp_df = transitions[transitions['name'] == name_i]
        if temp_df.size != 0:
            idx_to = temp_df.index[0]
            adj_list_p[idx_to].append(idx_curr)
    # Прописываем количество меток
    state0[idx_curr] = n_tokens
# Листы входов в массивы
for trns in adj_list_p:
    adj_list_p[trns] = np.array(adj_list_p[trns])


# Неплохо проверить, что у нас нет тупиковых переходов
for trns in adj_list_p:
    if adj_list_p[trns].size == 0:
        print('WARNING: Нет входа в переход', transitions['name'][trns])        

for trns in adj_list_t:
    if adj_list_t[trns].size == 0:
        print('WARNING: Нет выхода из перехода', transitions['name'][trns])

In [31]:
# Массив интов (на деле бинарных) в число
def state_to_num(state):
    if state[state > 1].size > 0:
        print('WARNING: Больше одной метки в ячейке')
    state_bool = state == 1
    retval = 0
    for n, v in enumerate(np.flip(state_bool)):
        retval += np.power(2,n) * v
    return retval

# Теперь непосредственно строим граф достижимости
# Также в виде листа смежности
reach_list = {}
q = []
q.append(state0)
while(q):
    state_curr = q.pop()
    state_curr_num = state_to_num(state_curr)
    if state_curr_num not in reach_list:
        reach_list[state_curr_num] = []
    # Для текущего состояния определяем активные переходы
    active_trns = []
    for trns in adj_list_p:
        # Если во всех входах метки, переход активен
        inputs = state_curr[adj_list_p[trns]]
        if inputs.all():
            active_trns.append(trns)
    # Для каждого перехода получаем следующее состояние
    for trns in active_trns:
        state_next = state_curr.copy()
        state_next[adj_list_p[trns]] -= 1
        state_next[adj_list_t[trns]] += 1
        state_next_num = state_to_num(state_next)
        # Если еще не было такого перехода, создаем его и добавляем в очередь
        if state_next_num not in reach_list[state_curr_num]:
            reach_list[state_curr_num].append(state_next_num)
            q.append(state_next)

reach_list

{192: [32], 32: [16, 8], 8: [4, 2], 2: [8], 4: [1], 1: [], 16: [32]}

In [38]:
# Какой индекс какому состоянию соответсвует
states_list = []
for i in range(np.power(2, places.shape[0])):
    states_list.append("{0:b}".format(i).zfill(places.shape[0]))
states_list

state_descr = ''
for name in places['name']:
    state_descr += name + '|'

index_df = pd.DataFrame({
                        'num' : range(np.power(2, places.shape[0])),
                         state_descr : states_list,
                        'reachability' : False *np.power(2, places.shape[0]),
                        })

# Проходимся по графу и проставляем достижимость
for fr in reach_list:
    for to in reach_list[fr]:
        index_df['reachability'].iloc[to] = 1
# Отдельно проверяем начальную точку, ибо в нее может ничего не вести
index_df['reachability'].iloc[state_to_num(state0)] = 1
        
index_df.sort_values(['reachability', 'num'], ascending=False).to_csv('out_index_reachability.csv', index=False)
print('\nВсе состояния')
index_df.sort_values(['reachability', 'num'], ascending=False)

Все состояния

     num P1|P2|P3|P5|P4|P6|P7|P8|  reachability
192  192                 11000000             1
32    32                 00100000             1
16    16                 00010000             1
8      8                 00001000             1
4      4                 00000100             1
..   ...                      ...           ...
7      7                 00000111             0
6      6                 00000110             0
5      5                 00000101             0
3      3                 00000011             0
0      0                 00000000             0

[256 rows x 3 columns]

In [40]:
# Достижимые вершины
index_df[index_df['reachability'] == 1].sort_values(['num'], ascending=False)

     num P1|P2|P3|P5|P4|P6|P7|P8|  reachability
192  192                 11000000             1
32    32                 00100000             1
16    16                 00010000             1
8      8                 00001000             1
4      4                 00000100             1
2      2                 00000010             1
1      1                 00000001             1

In [41]:
# Непосредственно сам граф в файл
graph_df = pd.DataFrame(columns=['state', 'next'])
for idx, state in enumerate(reach_list):
    state_str = ("{0:b}".format(state).zfill(places.shape[0]))
    next_str = ''
    for next_i in reach_list[state]:
        next_str += ("{0:b}".format(next_i).zfill(places.shape[0]) + ' ')
    graph_df.loc[idx] = [state_str, next_str]
    
graph_df.sort_values(['state'], ascending=False).to_csv('out_graph.csv', index=False)
print('\nЛист смежности')
graph_df.sort_values(['state'], ascending=False)

Лист смежности

      state                next
0  11000000           00100000
1  00100000  00010000 00001000
6  00010000           00100000
2  00001000  00000100 00000010
4  00000100           00000001
3  00000010           00001000
5  00000001

In [42]:
# Тупиковые вершины
graph_df[graph_df['next'] == '']

      state next
5  00000001